[gmail]
email = {{ uptime_gmail_email }}
password = {{ uptime_gmail_password }}
recipient_name = {{ uptime_recipient_name }}
recipient_email = {{ uptime_recipient_email }}

[slack]
apikey = {{ uptime_slack_apikey }}
channel = {{ uptime_slack_channel }}

