[Unit]
Description=dorky uptime bot

[Service]
Restart=always
User={{ uptime_user }}
Group=wheel
ExecStart={{ uptime_path }}/vp/bin/python -u {{ uptime_path }}/uptime.py
ExecStop=/usr/bin/killall {{ uptime_path }}/vp/bin/python

[Install]
WantedBy=default.target

